@import "tailwindcss";

@theme inline {
  /* Monochrome Base */
  --color-black: #000000;
  --color-off-black: #1A1A1A;
  --color-dark-gray: #333333;
  --color-medium-gray: #808080;
  --color-light-gray: #D3D3D3;
  --color-off-white: #F8F8F8;
  --color-white: #FFFFFF;

  /* Hint of Color (Subtle Teal/Cyan) */
  --color-primary-accent: #00ADB5;
  --color-secondary-accent: #64DFDF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
