@import "tailwindcss";
@import "material-symbols";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans), 'sans-serif';
  --text-2xs: 0.5rem; /* 8px */
}

.filled {
  font-variation-settings: 'FILL' 1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
